.container-fluid
{
    height:100vh;
    display:table;
    width: 100%;
    margin-top: -50px;
    padding: 50px 0 0 0; 
}
header
{
    background: green;
    height: 50px;
}

.row
{
   width: 100vh;
   display: table-row;
}

.col-md-4 {   
    border: 1px solid black;
    height: 100vh;
   background-image: linear-gradient(rgb(23, 23, 114), rgb(112, 157, 216));
   overflow: hidden;
}
.col-md-8 {
   height: 100vh;
   border: 1px solid black;
   background-image: linear-gradient(rgb(23, 23, 114), rgb(112, 157, 216));
   overflow: hidden;
}

#webcam{
  height: 550px;
  width: 720px;
}

.well h1 {
   font-size: 50px;
}
#ultimasSenhas{
   height: 230px;
}

#textoFixo{
   height: 200px;
}

#copyRight {
   position: fixed;
   text-align: right;
   bottom: 0;
}
