<div class="container-fluid">
  <div class="row border border-dark">
    <div class="col-md-4 no-float">
      <div class="well text-center">
        <h3 [innerHTML]="configuracao.tituloPainelAtendimento">
        </h3>
      </div>
      <div class="well text-center">
        <h1>Senha<br>
          <span [ngSwitch]='signalRService.blinkSenha'>
              <span *ngSwitchCase='true'>{{signalRService.dataResponse[0].senha}}</span>
              <span *ngSwitchCase='false'>&nbsp;</span>
          </span>
        
        </h1>
        <h2>Guiche<br>{{signalRService.dataResponse[0].guiche}}</h2>
      </div>
      <div id="ultimasSenhas" class="well text-center">
        <table class="table">
          <thead>
            <tr>
              <th>Senha</th>
              <th>Guiche</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let atendimento of signalRService.dataResponse|slice:1 '>
              <td>{{atendimento.senha}}</td>
              <td>{{atendimento.guiche}}</td>
            </tr>
          </tbody>

        </table>
      </div>
      <div class="well text-center">
        <h4>{{ time | date: 'dd/MM/yyy - HH:mm:ss ' }}</h4>

      </div>

    </div>
    <div class="col-md-8 no-float">
      <div>
        <app-entrada-video></app-entrada-video>
      </div>

      <div id="textoFixo" class="well" [innerHTML]="configuracao.textoFixoPainelAtendimento">

      </div>
      <div id="copyRight">
        <span> <a [routerLink]="['/home']" class="glyphicon glyphicon-chevron-left"></a>© 2019 Servcom Serviços de
          Computação </span>
      </div>
    </div>
  </div>
</div>