#panelMidia {
    top: 50px;
    width: 550px;
    right:50px;
    position: absolute;
    background: lightblue;
    font-size: 30px;
    text-align: center;
  }

  
 #valorMidia{
    height: 350px;
    display: inline-block;
    vertical-align: middle;
    float: none;

 } 

#panelSenha {
    top: 50px;
    left: 50px;
    position: absolute;
    background: lightblue;
    font-size: 30px;
    text-align: center;
  }

 #valorSenha{
    font-size: 120px;
    height: 150px;
    display: inline-block;
    vertical-align: middle;
    float: none;

 } 

 #valorguinche{
    font-size: 50px;
    display: inline-block;
    vertical-align: middle;
    float: none;   
 }

 #panelUltimasSenhas {
    top: 440px;
    left: 50px;
    position: absolute;
    background: lightblue;
    font-size: 30px;
    text-align: center;
    
  }

 #valorUltimasSenhas{
    font-size: 20px;
    height: 180px;
    background: lightblue;
    display: inline-block;
    width: 100%;
 } 

 td {
    background: lightblue;
    text-align: left;
}

 

