.navbar-brand .order-md-last{
    width: 150px;
    font-size: 20px;
}

.navbar-brand img {
    height: 35px;
    float: left;
    align-content: flex-start;
}

.navbar-default {
    background-color: #3941A1;
    border-color: #3941A1;
    height: 55px;
    
}

