<div class="container main-container"  *ngIf='usuario'>

    <h2>Excluir Usuário</h2>

    <div class="alert alert-danger" *ngIf="errors.length > 0">
        <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>
        <ul>
          <li *ngFor="let error of errors">{{ error }}</li>
        </ul>
      </div>
    
    <h3>Tem certeza que deseja excluir este usuário?</h3>
    <div >
        <h4>{{ usuario.nome }}</h4>
        <hr />
        <dl class="dl-horizontal">
            <input type="hidden" asp-for="Id" />
            <dt>
              Sigla:
            </dt>
            <dd>
                {{ usuario.sigla}}
            </dd>
            <dt>
              Setor:
            </dt>
            <dd>
                {{ usuario.setor}}
            </dd>       
        </dl>
        
        <form novalidate (ngSubmit)="excluirUsuario()">
            <div class="form-actions no-color">
                <input type="submit" value="Excluir" class="btn btn-danger" />
                <a [routerLink]="['/usuarios/lista-usuarios']" class="btn btn-primary">Voltar para a lista</a>
            </div>
        </form>
    </div>
    
    </div>