<div class="container">
  <h2>Editar dados do usuário</h2>


  <form  (ngSubmit)="editarUsuario()" [formGroup]="editarUsuarioForm">

    <div class="form-horizontal">

      <div class="alert alert-danger" *ngIf="errors.length > 0">
        <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>
        <ul>
          <li *ngFor="let error of errors">{{ error }}</li>
        </ul>
      </div>

      <div class="form-group" [ngClass]="{'has-error': displayMessage.sigla }">
        <label class="col-md-2 control-label" for="sigla">Sigla</label>
        <div class="col-md-10">
          <input class="form-control" readonly="true" id="sigla" type="text" placeholder="Sigla (requerido)" formControlName="sigla" />
          <span class="text-danger" *ngIf="displayMessage.sigla">
            <p [innerHTML]="displayMessage.sigla"></p>
          </span>
        </div>
      </div>

      <div class="form-group" [ngClass]="{'has-error': displayMessage.nome }">
        <label class="col-md-2 control-label" for="nome">Nome</label>
        <div class="col-md-10">
          <input class="form-control" id="nome" type="text" placeholder="Nome (requerido)" formControlName="nome" />
          <span class="text-danger" *ngIf="displayMessage.nome">
            <p [innerHTML]="displayMessage.nome"></p>
          </span>
        </div>
      </div>

      <div class="form-group" [ngClass]="{'has-error': displayMessage.setor }">
        <label class="col-md-2 control-label" for="setor">Setor</label>
        <div class="col-md-10">
          <input class="form-control" id="setor" type="text" placeholder="Setor (requerido)" formControlName="setor" />
          <span class="text-danger" *ngIf="displayMessage.setor">
            <p [innerHTML]="displayMessage.setor"></p>
          </span>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-4 col-md-offset-2">
          <button class="btn btn-success" id="Registrar" type="submit" [disabled]='!editarUsuarioForm.valid'>Atualizar</button>
          <a [routerLink]="['/usuarios/lista-usuarios']" class="btn btn-primary">Voltar para a lista</a>
        </div>
      </div>

    </div>
  </form>
</div>