<div class="jumbotron text-center">
  <h1>Servcom - Sistema de Gerenciamento de Atendimento</h1>
  <div *ngIf='usuarioLogado()'>
    <a  [routerLink]="['/atendimentos/painel-atendimento']" class="btn btn-primary btn-lg btn-block"> Atendimentos</a><br>
    <a [routerLink]="['/configuracoes/configuracao-geral']" class="btn btn-primary btn-lg btn-block"> Configuração</a><br>
    <a [routerLink]="['/usuarios/lista-usuarios']" class="btn btn-primary btn-lg btn-block"> Usuarios</a><br>
  </div>
</div>